.messy-fediverse-comments form {
    display: flex;
    flex-wrap: wrap;
}
.messy-fediverse-comments form p,
.messy-fediverse-comments form input {
    margin-right: 10px;
}
.messy-fediverse-comments form input[name="account"] {
    width: 20em;
}
.messy-fediverse-comments article {
    padding-top: 3rem;
    border-top: 1px solid grey;
    margin-bottom: 3rem;
}
.messy-fediverse-comments article header {
    display: flex;
    justify-content: space-between;
}
.messy-fediverse-nav ul {
    list-style-type: none;
    display: flex;
}
.messy-fediverse-nav li {
    margin-right: 1.5rem;
}
.messy-fediverse-status header {
    display: flex;
    justify-content: space-between;
}
