.messy-fediverse-comments form {
    display: flex;
    flex-wrap: wrap;
}
.messy-fediverse-comments form p,
.messy-fediverse-comments form input {
    margin-right: 10px;
}
.messy-fediverse-comments form input[name="account"] {
    width: 20em;
}
.messy-fediverse-comments article {
    padding-top: 3rem;
    border-top: 1px solid grey;
    margin-bottom: 3rem;
}
.messy-fediverse-comments article header {
    display: flex;
    justify-content: space-between;
}
.messy-fediverse-nav ul {
    list-style-type: none;
    display: flex;
}
.messy-fediverse-nav li {
    margin-right: 1.5rem;
}
.messy-fediverse-status header {
    display: flex;
    justify-content: space-between;
}

.messy-fediverse-form-interact {
    display: flex;
}
.messy-fediverse-form-interact label {
    display: none;
}
.messy-fediverse-form-interact p {
    margin-right: 1em;
}

.wiki-icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 0;
}
.wiki-icon-share {
    /* CC0 https://commons.wikimedia.org/wiki/File:Ethics_of_Open_Sharing_icon_-_Collaboration.svg */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0d/Ethics_of_Open_Sharing_icon_-_Collaboration.svg);
}
.wiki-icon-thumbup {
    /* Licensed under the Creative Commons Attribution-Share Alike 3.0 Unported license. https://commons.wikimedia.org/wiki/File:Thumbs-up-icon-left.svg */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9e/Thumbs-up-icon-left.svg);
}

