{% load static %}

<template data-move-to-head>
<link rel="stylesheet" href="{% static 'messy/fediverse/messy-fediverse.css' %}">
</template>

<div id="messy-fediverse" class="messy-fediverse">
    {% if request.user.is_staff %}
    <nav class="messy-fediverse-nav">
        <ul>
            <li><a href="{% url 'messy-fediverse:interact' %}">Interact</a></li>
            <li><a href="{% url 'messy-fediverse:following' %}">Following</a></li>
        </ul>
    </nav>
    {% endif %}
    
    <div id="messy-fediverse-block-main">
    {% block main %}{% endblock %}
    </div>
</div>

<script type="text/javascript" src="{% static 'messy/fediverse/messy-fediverse.js' %}" defer></script>
