{% extends 'messy/fediverse/base.html' %}

{% block pagetype %}<div class="messy-fediverse-page-interact"></div>{% endblock %}

{% block main %}
<div id="messy-fediverse-interact">
    <h2>Interact</h2>
    
    <form method="get" action="." class="messy-fediverse-form-interact">
        {{ search_form.as_p }}
        
        <p><input type="submit" value="Search" class="btn btn-default"></p>
    </form>
    
    {% if publicKey %}
        {# Is an user #}
        <br><br>
        <div class="messy-fediverse-interact-user">
            {% if icon and icon.url %}
                <a href="{{ url }}" target="_blank" rel="noopener">
                    <img src="{{ icon.url }}">
                </a>
            {% endif %}
            
            <a href="{{ url }}" target="_blank" rel="noopener">
                {{ preferredUsername }}@{{ fediverseInstance }}
            </a>
            
            <form method="post" action="{% url 'messy-fediverse:following' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ id }}">
                {% if weFollow %}
                    <input type="submit" name="unfollow" value="Unfollow">
                {% else %}
                    <input type="submit" name="follow" value="Follow">
                {% endif %}
            </form>
        </div>
    {% endif %}
    
    <div class="messy-fediverse-content">
    <noscript data-sanitize-element
        data-forbid-attr="style,id,name">
    {% autoescape off %}
    {{ content }}
    {% endautoescape %}
    </noscript>
    </div>

    <form method="post" action=".">
        {% include './part.actions.html' %}
        
        <div id="messy-fediverse-new-post-form" class="d-none">
            <br><br>
            <h2>Post new status</h2>
            
            {% csrf_token %}

            {{ form.as_p }}
            
            <p>
                <input type="button" value="Preview" data-action="togglePreview" class="btn btn-default">
                
                {% if can_update %}
                    <input type="hidden" name="update" value="1">
                    <input type="submit" value="Update" class="btn btn-success">
                {% else %}
                    <input type="submit" value="Send" class="btn btn-success">
                {% endif %}
            </p>
        </div>
    </form>
    
    <div class="d-none" id="messy-fediverse-preview">
        <div class="preview"></div>
        
        <div class="mb-1 flex flex-right">
            <button data-action="togglePreview" class="btn btn-default">
                Edit
            </button>
        </div>
    </div>
    
    {% if request.user.is_staff %}
    <div id="activity-raw-code" class="d-none">
    <h3>Raw data</h3>
    <code><pre>{% autoescape off %}{{ rawJson }}{% endautoescape %}</pre></code>
    </div>
    {% endif %}
    
    <script type="application/json">{% autoescape off %}{{ rawJson }}{% endautoescape %}</script>
</div>
{% endblock %}
