{% extends 'messy/fediverse/base.html' %}

{% block main %}
<div id="messy-fediverse-interact">
    <h2>Interact</h2>
    
    <form method="get" action=".">
        {{ search_form.as_p }}
        
        <input type="submit" value="Search">
    </form>
    
    {% if publicKey %}
        {# Is an user #}
        <br><br>
        <div class="messy-fediverse-interact-user">
            {% if icon and icon.url %}
                <a href="{{ url }}" target="_blank" rel="noopener">
                    <img src="{{ icon.url }}">
                </a>
            {% endif %}
            
            <a href="{{ url }}" target="_blank" rel="noopener">
                {{ preferredUsername }}@{{ fediverseInstance }}
            </a>
            
            <form method="post" action="{% url 'messy-fediverse:following' %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ id }}">
                {% if weFollow %}
                    <input type="submit" name="unfollow" value="Unfollow">
                {% else %}
                    <input type="submit" name="follow" value="Follow">
                {% endif %}
            </form>
        </div>
    {% endif %}
    
    <div class="messy-fediverse-content">
    {% autoescape off %}
    {{ content }}
    {% endautoescape %}
    </div>

    <form method="post" action=".">
        {% include './part.actions.html' %}
        
        <br><br>
        <h2>Post status</h2>
        
        {% csrf_token %}

        {{ form.as_p }}
        
        <p>
            <input type="button" value="Preview" data-action="togglePreview">
            
            {% if can_update %}
                <input type="hidden" name="update" value="1">
                <input type="submit" value="Update">
            {% else %}
                <input type="submit" value="Send">
            {% endif %}
        </p>
    </form>
    
    <div class="d-none" id="messy-fediverse-preview">
        <div class="mb-1">
            <button data-action="togglePreview"><small>Edit</small></button>
        </div>
        
        <div class="preview"></div>
    </div>
    
    <h3>Raw data</h3>
    <code><pre>{% autoescape off %}{{ rawJson }}{% endautoescape %}</pre></code>
    
    <script type="application/json">{% autoescape off %}{{ rawJson }}{% endautoescape %}</script>
</div>
{% endblock %}
