{% extends 'messy/fediverse/base.html' %}
{% load admin_urls %}

{% block title %}{{ block.super }} {{ summary }}{% endblock title %}

{% block main %}

{% if rpath %}
<div data-html-mess data-include-url="/{{ rpath }}/" data-select-children=".messy-fediverse-status"></div>
{% endif %}

<section class="messy-fediverse-comments" data-parent-uri="{{ parent_uri }}">
    {% spaceless %}
    <h3 class="messy-fediverse-parent-info">
        {% if user_is_staff %}
            <a href="{{ request.path }}">
        {% endif %}
        
        {% if pageTitle %}
        {{ pageTitle }}
        {% else %}
        Comments
        {% endif %}
        
        {% if user_is_staff %}
            </a>
        {% endif %}
        {% if rpath %}
        for <a href="/{{ rpath }}/" class="comments-target-link-">{{ summary }}</a>
        {% endif %}
    </h3>
    {% endspaceless %}
    
    {% if rpath %}
    <form method="post" action="{% url 'messy-fediverse:replies' rpath %}">
        <p>You can leave comment using your <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank" rel="noopener">fediverse</a> account.</p>
        {% csrf_token %}

        {{ form.as_p }}
        <p><input type="submit" value="New comment"></p>
    </form>
    {% endif %}
    
    {% if original_thread_url %}
    <p>Thread may be incomplete. See original thread
        <a href="{{ original_thread_url }}" target="_blank" rel="noopener">there</a>.
    </p>
    {% endif %}
    
{% for item in items %}
    {% if item.id %}
    <article 
        id="item-{{ item.hash }}"
        data-uri="{{ item.id }}"
        {% if user_is_staff %}data-local-id="{{ item.localId }}"{% endif %}
        class="{% if not item.is_local %}remote{% endif %}"
    >
        <header>
            <a href="{{ item.attributedTo }}"
                rel="author noopener"
                {% if item.is_local %}target="_self"{% else %}target="_blank"{% endif %}
            >@{{ item.authorInfo.preferredUsername }}</a>
            
            {% if item.summary %}
                <h4>Re: <a href="{{ item.id }}" target="_blank" rel="noopener">{{ item.summary }}</a></h4>
            {% endif %}
            
            {% spaceless %}
            <a href="{{ item.id }}"
                {% if item.is_local %}target="_self"{% else %}target="_blank"{% endif %}
                rel="noopener"
            >
                <time datetime="{{ item.published.isoformat }}">{{ item.published|date }} {{ item.published|time }}</time>
            </a>
            {% endspaceless %}
        </header>
        
        <div class="messy-fediverse-comment-body">
            <noscript data-sanitize-element
                data-forbid-attr="style,id,name">
                {% autoescape off %}
                {{ item.content }}
                {% endautoescape %}
            </noscript>
            
            {% for attachment in item.attachment %}
                {% if attachment.mediaType|slice:':6' == 'audio/' %}
                    <p class="flex-center">
                        <a href="{{ attachment.url }}" class="media-embed" data-embed-frame-src="https://ipfs.io/ipfs/QmPxmcanpnyiH9V7J7jMjb1Ux9mhgkyuPPjtLLM236K6Bu/?audio={{ attachment.url }}" data-embed-height="62px" style="padding-bottom: 0; height: 62px; background-color: #888;">{{ attachment.name }}</a>
                    </p>
                {% elif attachment.mediaType|slice:':6' == 'video/' %}
                    <p class="flex-center">
                        <a href="{{ attachment.url }}" class="media-embed" data-embed-frame-src="https://ipfs.io/ipfs/QmPxmcanpnyiH9V7J7jMjb1Ux9mhgkyuPPjtLLM236K6Bu/?video={{ attachment.url }}" data-embed-height="270px" style="padding-bottom: 0; height: 270px; background-color: #888;">{{ attachment.name }}</a>
                    </p>
                {% endif %}
            {% endfor %}
            
            <p class="flex-center flex-wrap">
            {% for attachment in item.attachment %}
                {% if attachment.mediaType|slice:':6' == 'image/' %}
                <img class="thumbnail thumb-mini media-embed-popup" src="{{ attachment.url }}" title="{{ attachment.name }}">
                {% endif %}
            {% endfor %}
            </p>
        </div>
        
        <footer>
            {% if rpath %}
                {% if user_is_staff %}
                    <a href="{% url 'messy-fediverse:interact' %}?acct={{ item.id }}"><button class="btn btn-success reply">Reply</button></a>
                    
                    <button class="btn btn-danger delete delete-js">Delete</button>
                    
                    {% if item.meta and item.pk %}
                        <a href="{% url item.meta|admin_urlname:'change' item.pk %}" data-no-ajax class="btn btn-default">Admin</a>
                    {% endif %}
                {% else %}
                    <button class="btn btn-success reply reply-js">Reply</button>
                {% endif %}
            {% endif %}
            
            {% if item.thread_link %}
            <a href="{{ item.thread_link }}" class="btn btn-default"
                title="View full thread" data-no-target="#messy-comments">
                <i class="ion-chatboxes"></i>
            </a>
            {% elif item.replies and item.replies|stringformat:"s" == item.replies %}
            <a href="{{ item.replies }}" class="btn btn-default"
                title="comments" data-no-target="#messy-comments">
                <i class="ion-chatboxes"></i>
            </a>
            {% endif %}
        </footer>
    </article>
    {% endif %}
{% endfor %}

{% if prev %}
    {% if partOf %}
    <a href="{{ partOf }}" title="start" class="btn btn-default"><i class="ion-ios-skipbackward"></i><i class="ion-ios-play icon-rotate-180"></i></a>
    {% endif %}

<a href="{{ prev }}" title="newer" class="btn btn-default"><i class="ion-ios-play icon-rotate-180"></i><i class="ion-ios-play icon-rotate-180"></i></a>
{% endif %}

{% if next %}
<a href="{{ next }}" title="older" class="btn btn-default"><i class="ion-ios-play"></i><i class="ion-ios-play"></i></a>
{% endif %}
</section>


{% if meta_json %}
<script type="application/json" class="section-metadata" data-path="{{ request.path }}">{% autoescape off %}
{{ meta_json }}
{% endautoescape %}</script>
{% endif %}

{% endblock %}
