{% extends 'messy/fediverse/base.html' %}

{% block title %}{{ block.super }} {{ summary }}{% endblock title %}

{% block main %}
<section class="messy-fediverse-comments" data-parent-uri="{{ parent_uri }}">
    <h3 class="messy-fediverse-parent-info">Comments for <a href="/{{ rpath }}/">{{ summary }}</a></h3>
    
    <form method="post" action="{% url 'messy-fediverse:replies' rpath %}">
        <p>You can leave comment using your <a href="https://en.wikipedia.org/wiki/Fediverse" target="_blank" rel="noopener">fediverse</a> account.</p>
        {% csrf_token %}

        {{ form.as_p }}
        <p><input type="submit" value="New comment"></p>
    </form>
    
{% for item in items %}
    <article id="item-{{ item.hash }}" data-uri="{{ item.id }}">
        <header>
            <a href="{{ item.attributedTo }}" rel="author noopener" target="_blank">@{{ item.authorInfo.preferredUsername }}</a>
            
            {% if item.summary %}
                <h4>Re: <a href="{{ item.id }}" target="_blank" rel="noopener">{{ item.summary }}</a></h4>
            {% endif %}
            
            {% spaceless %}
            <a href="{{ item.id }}" target="_blank" rel="noopener">
                <time datetime="{{ item.published.isoformat }}">{{ item.published|date }} {{ item.published|time }}</time>
            </a>
            {% endspaceless %}
        </header>
        
        <div class="messy-fediverse-comment-body">
            {% autoescape off %}
            {{ item.content }}
            {% endautoescape %}
        </div>
        
        <footer>
            {% if request.user.is_staff %}
                <a href="{% url 'messy-fediverse:interact' %}?acct={{ item.id }}"><button class="reply">Reply</button></a>
            {% else %}
                <button class="reply reply-js">Reply</button>
            {% endif %}
        </footer>
    </article>
{% endfor %}
</section>


{% if meta_json %}
<script type="application/json" class="section-metadata" data-path="{{ request.path }}">{% autoescape off %}
{{ meta_json }}
{% endautoescape %}</script>
{% endif %}

{% endblock %}
